In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
Employee_df=pd.read_csv(r'C:\Users\acer\Desktop\HR-Employee-Attrition.csv')

In [8]:
Employee_df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [10]:
Employee_df['Attrition']

0       Yes
1        No
2       Yes
3        No
4        No
       ...
1465     No
1466     No
1467     No
1468     No
1469     No
Name: Attrition, Length: 1470, dtype: str

In [11]:
Employee_df['Attrition'].value_counts()

Attrition
No     1233
Yes     237
Name: count, dtype: int64

In [12]:
Employee_df['Attrition'].value_counts(normalize=True)

Attrition
No     0.838776
Yes    0.161224
Name: proportion, dtype: float64

In [13]:
Employee_df['EmployeeCount']

0       1
1       1
2       1
3       1
4       1
       ..
1465    1
1466    1
1467    1
1468    1
1469    1
Name: EmployeeCount, Length: 1470, dtype: int64

In [14]:
Employee_df['EmployeeCount'].unique()

array([1])

In [15]:
Employee_df['Attrition'].unique()

<StringArray>
['Yes', 'No']
Length: 2, dtype: str

In [ ]:
Employee_df_bi=Employee_df[['Age','Gender','MaritalStatus','BusinessTravel','Attrition']]
Employee_df_bi

      Age  Gender MaritalStatus     BusinessTravel Attrition
0      41  Female        Single      Travel_Rarely       Yes
1      49    Male       Married  Travel_Frequently        No
2      37    Male        Single      Travel_Rarely       Yes
3      33  Female       Married  Travel_Frequently        No
4      27    Male       Married      Travel_Rarely        No
...   ...     ...           ...                ...       ...
1465   36    Male       Married  Travel_Frequently        No
1466   39    Male       Married      Travel_Rarely        No
1467   27    Male       Married      Travel_Rarely        No
1468   49    Male       Married  Travel_Frequently        No
1469   34    Male       Married      Travel_Rarely        No

[1470 rows x 5 columns]

In [18]:
Employee_df['HourlyRate'].corr(Employee_df['MonthlyIncome'])

np.float64(-0.015794304380892937)